language: rust
sudo: false

matrix:
  include:
    # 1.15.0 doesn't work right now :-/ - bugs in macro expansion
    # - rust: 1.15.0
    - rust: stable
    - rust: beta
    - rust: nightly
      script:
        - RUST_BACKTRACE=1 cargo test --all --features simple-derive

        # We can't run synstructure's doctests with the nightly features
        # enabled, but we can test test_suite, as it uses a real macro impl.
        - RUST_BACKTRACE=1 cargo test -p test_suite --features "proc-macro2/nightly simple-derive"

script:
  - RUST_BACKTRACE=1 cargo test --all --features simple-derive

notifications:
  email:
    on_success: never
